[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiceOptim"]
	path = DiceOptim
	url = https://github.com/cran/DiceOptim
[submodule "GPareto"]
	path = GPareto
	url = https://github.com/mbinois/gpareto
[submodule "OOR"]
	path = OOR
	url = https://github.com/mbinois/oor
[submodule "hetGP"]
	path = hetGP
	url = https://github.com/cran/hetGP
